<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.multidatasource.dao.UserMapper">
    <insert id="insert" parameterType="cn.multidatasource.pojo.User">
      insert into t_user(name, address) values(#{name}, #{address})
    </insert>

    <select id="selectTopicList" resultType="cn.multidatasource.pojo.Topic" >
        select id, title, content, img from cms_topic
    </select>

</mapper>